/* ! -- CHECKBOX -- */
.checkboxes {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    /*flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;*/
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
}
.check {
    .check__wrapp {
        cursor: pointer;
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        align-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        position: relative;
    }
    .check__type {
        display:none;
    }
    .check__custom {
        background: #fff;
        position: relative;
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        align-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        width: 23px;
        height: 23px;
        /*line-height: 19px;
        border-radius: 50%;*/
        border: 1px solid #d0d0d0;
        &:before {
            /*background: #87b453;*/
            position: relative;
            display: block;
            content: '';
            @include sprite($s-check);
            /*top: 50%;
            left: 50%;
            margin: -4px 0 0 -4px;
            border-radius: 50%;*/
            @include all-transition();
            opacity: 0;
        }
    }
    .check__label {
        font-style: normal;
        font-weight: 400;
        font-size: 1.4rem;
        color: #2d2d2d;
        text-transform: none;
        display: block;
        line-height: 1.2em;
        padding-left: 19px;
    }
    .check__type:checked + .check__custom:before {
        opacity: 1;
    }
    .check__label img {
        @include all-transition();
        filter: grayscale(100%);
        filter: gray;
        opacity: 0.8;
    }
    .check__type:checked ~ .check__label img {
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;
        filter: none;
        opacity: 1;
    }
}